.page-title {font-size: 20px;
background:orange}
.subtitle {background: plum;}
.tags {background:purple;}
.cool text {font-size: 12px;
font-family:'Comic Sans Ms';}
.green text {color:orange}
#whatever{background: orange;}