@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body{
    background-color: yellow;
    font-family: 'Anton', sans-serif;
    text-align: center;
}
a{
    text-decoration: none;
}